<html>
    <head>
        <title>Update</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <form action="/update-form" method="post">
            <div class="update">
                <h1>{{context}}</h1>
                <h1>update details</h1>
                <input type="text" name="u_id" placeholder="enter u_id">
                <input type="number" name="u_age" placeholder="u_AGE">
                <input type="submit" value="UPDATE">
            </div>
        </form>
    </body>
</html>